<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Facelets Hello World</title>
</h:head>
<h:body>
	<h1>Hello World </h1>
	<h:form>
	<h:outputText value="#{webControl.getHello()}"></h:outputText>
	</h:form>
</h:body>
</html>
